rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /countries/{countryId} {
      allow read, write: if true;
    }
    
    match /wars/{warId} {
      allow read, write: if true;
    }
    
    match /provinces/{provinceId} {
      allow read, write: if true;
    }

    match /events/{eventId} {
      allow read: if true;
    }

    match /governments/{countryId} {
      allow read, write: if true;
    }

    match /centralBanks/{countryId} {
      allow read, write: if true;
    }

    match /treaties/{treatyId} {
      allow read, write: if true;
    }

    match /sanctions/{sanctionId} {
      allow read, write: if true;
    }

    match /tradeAgreements/{tradeId} {
      allow read, write: if true;
    }

    match /intelNetworks/{networkId} {
      allow read, write: if true;
    }

    match /militaryBranches/{branchId} {
      allow read, write: if true;
    }

    match /generals/{generalId} {
      allow read, write: if true;
    }
  }
}
