rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /countries/{countryId} {
      allow read, write: if true;
    }
    
    match /wars/{warId} {
      allow read, write: if true;
    }
    
    match /provinces/{provinceId} {
      allow read, write: if true;
    }

    match /events/{eventId} {
      allow read: if true;
    }
  }
}
